<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">email</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">address</th>
            <th scope="col">sex</th>
            <th scope="col">edit</th>
            <th scope="col">delete</th>
          </tr>
        </thead>
        <tbody>
            <% data.forEach(function(item) { %>
                <tr>
                  <td><%= item.email%></td>
                  <td><%= item.firstName%></td>
                  <td><%= item.lastName%></td>
                  <td><%= item.address%></td>
                  <td><%= item.gender === 1 ? 'male': 'female'%></td>
                  <td><a href="/update_user?id=<%= item.id%>">edit</a></td>
                  <td><a href="/delete_crud?id=<%= item.id%>">delete</a></td>
                </tr>
             <% }); %> 
         
        </tbody>
      </table>
</body>
</html>